.number-box {
	text-align: right;
	background-color: rgb(var(--bs-light-rgb));
	color: rgb(var(--bs-dark-rgb));
	border-radius: 1em;
	border: 1px solid black;
	padding-left: 1em;
	padding-right: 1em;
}

input[type='number'] {
	text-align: right;
}
